@(person: Form[CreateAddressForm])(implicit messages: Messages)

@import helper._


@main("Address Book 2") {
   <script type="text/javascript" src="@routes.Assets.at("javascripts/index.js")"></script>

    <h2> Address Book Application with Ajax Made with Play Framework</h2>

    <ul id="addresses" class="addresses"></ul>

    <button type="button" onclick="readAddresses()">Read</button>

    @form(routes.AddressController.addAddress()) {
        @inputText(person("First Name"))
        @inputText(person("Last Name"))
        @inputText(person("Street"))
        @inputText(person("City"))
        @inputText(person("State"))
        @inputText(person("Zip"))
        @inputText(person("Telephone"))

        <div class="buttons">
            <input id="create" type="submit" value="Create An Entry"/>
        </div>
    }
}
